.DS_Store

HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
why-is-kafka-fast.mp4
tiered-storage/aiven-tiered-storage-plugin/annotations-2.29.43.jar
tiered-storage/aiven-tiered-storage-plugin/apache-client-2.29.43.jar
tiered-storage/aiven-tiered-storage-plugin/arns-2.29.43.jar
tiered-storage/aiven-tiered-storage-plugin/auth-2.29.43.jar
tiered-storage/aiven-tiered-storage-plugin/aws-core-2.29.43.jar
tiered-storage/aiven-tiered-storage-plugin/aws-query-protocol-2.29.43.jar
tiered-storage/aiven-tiered-storage-plugin/aws-xml-protocol-2.29.43.jar
tiered-storage/aiven-tiered-storage-plugin/bcprov-jdk18on-1.78.1.jar
tiered-storage/aiven-tiered-storage-plugin/bucket4j_jdk11-core-8.13.1.jar
tiered-storage/aiven-tiered-storage-plugin/caffeine-3.1.8.jar
tiered-storage/aiven-tiered-storage-plugin/checksums-2.29.43.jar
tiered-storage/aiven-tiered-storage-plugin/checksums-spi-2.29.43.jar
tiered-storage/aiven-tiered-storage-plugin/commons-0.0.1-SNAPSHOT.jar
tiered-storage/aiven-tiered-storage-plugin/commons-codec-1.17.1.jar
tiered-storage/aiven-tiered-storage-plugin/commons-io-2.18.0.jar
tiered-storage/aiven-tiered-storage-plugin/commons-logging-1.2.jar
tiered-storage/aiven-tiered-storage-plugin/core-0.0.1-SNAPSHOT.jar
tiered-storage/aiven-tiered-storage-plugin/crt-core-2.29.43.jar
tiered-storage/aiven-tiered-storage-plugin/endpoints-spi-2.29.43.jar
tiered-storage/aiven-tiered-storage-plugin/eventstream-1.0.1.jar
tiered-storage/aiven-tiered-storage-plugin/http-auth-2.29.43.jar
tiered-storage/aiven-tiered-storage-plugin/http-auth-aws-2.29.43.jar
tiered-storage/aiven-tiered-storage-plugin/http-auth-aws-eventstream-2.29.43.jar
tiered-storage/aiven-tiered-storage-plugin/http-auth-spi-2.29.43.jar
tiered-storage/aiven-tiered-storage-plugin/http-client-spi-2.29.43.jar
tiered-storage/aiven-tiered-storage-plugin/httpclient-4.5.13.jar
tiered-storage/aiven-tiered-storage-plugin/httpcore-4.4.16.jar
tiered-storage/aiven-tiered-storage-plugin/identity-spi-2.29.43.jar
tiered-storage/aiven-tiered-storage-plugin/jackson-annotations-2.18.2.jar
tiered-storage/aiven-tiered-storage-plugin/jackson-core-2.18.2.jar
tiered-storage/aiven-tiered-storage-plugin/jackson-databind-2.18.2.jar
tiered-storage/aiven-tiered-storage-plugin/jackson-datatype-jdk8-2.18.2.jar
tiered-storage/aiven-tiered-storage-plugin/json-utils-2.29.43.jar
tiered-storage/aiven-tiered-storage-plugin/metrics-spi-2.29.43.jar
tiered-storage/aiven-tiered-storage-plugin/netty-buffer-4.1.115.Final.jar
tiered-storage/aiven-tiered-storage-plugin/netty-codec-4.1.115.Final.jar
tiered-storage/aiven-tiered-storage-plugin/netty-codec-http-4.1.115.Final.jar
tiered-storage/aiven-tiered-storage-plugin/netty-codec-http2-4.1.115.Final.jar
tiered-storage/aiven-tiered-storage-plugin/netty-common-4.1.115.Final.jar
tiered-storage/aiven-tiered-storage-plugin/netty-handler-4.1.115.Final.jar
tiered-storage/aiven-tiered-storage-plugin/netty-nio-client-2.29.43.jar
tiered-storage/aiven-tiered-storage-plugin/netty-resolver-4.1.115.Final.jar
tiered-storage/aiven-tiered-storage-plugin/netty-transport-4.1.115.Final.jar
tiered-storage/aiven-tiered-storage-plugin/netty-transport-classes-epoll-4.1.115.Final.jar
tiered-storage/aiven-tiered-storage-plugin/netty-transport-native-unix-common-4.1.115.Final.jar
tiered-storage/aiven-tiered-storage-plugin/profiles-2.29.43.jar
tiered-storage/aiven-tiered-storage-plugin/protocol-core-2.29.43.jar
tiered-storage/aiven-tiered-storage-plugin/reactive-streams-1.0.4.jar
tiered-storage/aiven-tiered-storage-plugin/regions-2.29.43.jar
tiered-storage/aiven-tiered-storage-plugin/retries-2.29.43.jar
tiered-storage/aiven-tiered-storage-plugin/retries-spi-2.29.43.jar
tiered-storage/aiven-tiered-storage-plugin/s3-2.29.43.jar
tiered-storage/aiven-tiered-storage-plugin/sdk-core-2.29.43.jar
tiered-storage/aiven-tiered-storage-plugin/storage-core-0.0.1-SNAPSHOT.jar
tiered-storage/aiven-tiered-storage-plugin/storage-filesystem-0.0.1-SNAPSHOT.jar
tiered-storage/aiven-tiered-storage-plugin/storage-s3-0.0.1-SNAPSHOT-sources.jar
tiered-storage/aiven-tiered-storage-plugin/storage-s3-0.0.1-SNAPSHOT.jar
tiered-storage/aiven-tiered-storage-plugin/sts-2.29.43.jar
tiered-storage/aiven-tiered-storage-plugin/third-party-jackson-core-2.29.43.jar
tiered-storage/aiven-tiered-storage-plugin/utils-2.29.43.jar
tiered-storage/aiven-tiered-storage-plugin/zstd-jni-1.5.6-9.jar
